body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #history {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
  }
  
  #clubs {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
  }
  
  #club-list {
    list-style-type: none;
    padding: 0;
  }
  
  #club-list li {
    padding: 10px;
    background-color: #e7e7e7;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }